@charset "UTF-8";
/* CSS Document */
html {
	font-family: acme, "acme" "serif", Times, "Times New Roman", "serif";
	background-color: #669999;
	margin: 20px;
	text-align: center;
	padding: 0;
	
}


/* Gallery images */
.container{
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-auto-rows: 100px 300px;
	grid-gap: 10px;
	grid-auto-flow: dense;
	

}

.container1{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-auto-rows: 100px 300px;
	grid-gap: 10px;
	grid-auto-flow: dense;
	

}
.gallery-item{
	width: 100%;
	height: 100%;
	position: relative;
	
	
}

.gallery-item .image1{
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 5px;
}

.gallery-item .image1 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position:50% 50%;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.gallery-item:hover .image1 img{
	transform: scale(1.5);
}
.gallery-item .text{
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #FFFFFF;
	font-size: 25px;
	font-family: "acme, serif ";
	pointer-events: none;
	z-index:4;
	transition: .3s ease-in-out;
	webkit-backdrop-filter: blur(2px) saturate(1.5);
	backdrop-filter: blur(2px) saturate(1.5);
}

.gallery-item:hover .text{
	opacity:1;
	animation: move-down .3s linear;
	padding: 1em;
	width: 100%;
	
	
}
/* Makes text over gallery images appear with animation */
@keyframes move-down{
	0%{
		top:10%;
	}
	50%{
		top:35%;
	}
	100%{
		top:50%;
	}
}

/* Widths and heights for gallery images */
.w-1{
	grid-column: span 1;
}

.w-2{
	grid-column: span 2;
}

.w-3{
	grid-column: span 3;
}

.w-4{
	grid-column: span 4;
}

.w-5{
	grid-column: span 5;
}

.w-6{
	grid-column: span 6;
}

.h-1{
	grid-row: span 1;
}

.h-2{
	grid-row: span 2;
}
.h-3{
	grid-row: span 3;
}
.h-4{
	grid-row: span 4;
}
.h-5{
	grid-row: span 5;
}
.h-6{
	grid-row: span 6;
}

@media screen and (max-width:500px){
	.container{	grid-template-coulmns: repeat(2,1fr);
	}
}






/* Nav logo */

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
 color:#FFFFFF ;
	padding-left: 20px;
	text-align: left;
	border-radius: 10px;
	
	
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#nav{
	  
	color: #FFFFFF;
	font-size: 20px;
	text-align: right;
list-style-type: none;
	background-color: #003333;
	padding: 30px;
	padding-bottom: 40px;
	border: groove;
	border-color: white;
	border-radius: 12px;
}
#nav li{
	display: inline;
	text-align: center;
	padding: 48px; 

}
#nav a{
	padding: 15px;
}
#nav a:hover{
	background-color: white;
	border-radius: 10px;
	
}
a {
  font-weight: bold;
	color: #ffffff; 
	text-decoration: none;
	
}

a:hover {
	font-weight: bold;
	color: #000000;
	
}

/* misc content */

h1{
	text-align: center;
	background-position: center;
	background-repeat: repeat-x; 
	background-color: #ffffff;
	padding-top: 15px; 
	padding-bottom: 15px;
	border-radius: 30px;
	
}

h2{

}

#images {
	height: 100px;
	width: 140px;
	display: block;
	padding: 15px;
	
}

#logo{
	height: 87px; 
	width: 135px;
	float: left;
	padding-top: 9px;
	padding-left: 20px;
	padding-bottom: 5px; 
	 
}



